*{margin:0; padding:0;}

/* 슬라이드배너 꾸미기 */
.slide { width:1320px; height:100%;}
.slide .swiper-slide {text-align: center; font-size: 18px; background: #fff;
			  /* Center slide text vertically */
			  display: -webkit-box;
			  display: -ms-flexbox;
			  display: -webkit-flex;
			  display: flex;
			  -webkit-box-pack: center;
			  -ms-flex-pack: center;
			  -webkit-justify-content: center;
			  justify-content: center;
			  -webkit-box-align: center;
			  -ms-flex-align: center;
			  -webkit-align-items: center;
			  align-items: center; }


/*이동버튼 영역*/
.slide .swiper-button-next:after,
.slide .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */
.slide .swiper-button-next,
.slide .swiper-button-prev{width:44px; height:26px;}/* 버튼 크기 */
.slide .swiper-button-prev{
	left:auto; 
	right: 50%; 
	top: 37%; 
	background:url(../images/R_upper.png); 
	transform: translateX(600px); z-index: 2;}/* 버튼 위치, 버튼 이미지 */
.slide .swiper-button-next{
	right:50%; 
	top: 75%;
	background:url(../images/R_lower.png); 
	transform: translateX(600px);}/* 버튼 위치, 버튼 이미지 */
.slide .swiper-button-prev:hover{background:url(../images/R_H_upper.png);}/* 버튼 호버 이미지 */
.slide .swiper-button-next:hover{background:url(../images/R_H_lower.png);}/* 버튼 호버 이미지 */

/*블릿버튼 영역*/
.slide .swiper-pagination-bullet{background:#fae8d6; width:20px; height:20px; opacity:0.7;}/* 블릿버튼 크기, 색상, 투명도 */
.slide .swiper-pagination-bullet-active{background:#4d4740; opacity:1;} /* 블릿버튼 페이지 표시날 때 투명도 */
.slide .swiper-pagination-fraction, 
.slide .swiper-pagination-custom, 
.slide .swiper-container-horizontal > .swiper-pagination-bullets{right:100px;}/* 블릿버튼 위치 */
.swiper-container-vertical > .swiper-pagination-bullets{
	right: 50%;
	transform: translateX(590px);
}

/*시설설비슬라이드*/
.swiper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.mySwiper2 {
	height: 497px;
	width: 1029px;
}

.mySwiper {
	height: 208px;
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}
.mySwiper .swiper-slide img{
 border-radius: 10px;
}

.mySwiper .swiper-slide img:nth{
	border-radius: 10px;
 }

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*이동버튼 영역*/
.mySwiper2 .swiper-button-next:after,
.mySwiper2 .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */
.mySwiper2 .swiper-button-next,
.mySwiper2 .swiper-button-prev{width:26px; height:70px;}/* 버튼 크기 */
.mySwiper2 .swiper-button-prev{
	left:-3%;
	top:45%;
	background:url(../images/fac_left_icon.png); 
	}/* 버튼 위치, 버튼 이미지 */
.mySwiper2 .swiper-button-next{
	right:-2.5%; 
	top: 45%;
	background:url(../images/fac_rifht_icon.png); 
	;}/* 버튼 위치, 버튼 이미지 */
.mySwiper2 .swiper-button-prev:hover{background:url(../images/fac_h_left_icon.png);}/* 버튼 호버 이미지 */
.mySwiper2 .swiper-button-next:hover{background:url(../images/fac_h_rifht_icon.png);}/* 버튼 호버 이미지 */