*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color:#4d4740;}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@keyframes scroll {
  0%{transform: translateY(0px);}
  100%{transform: translateY(15px);}
}

body{
  font-family: 'NanumSquareRound';
  font-size: 14px;
  line-height: 24px;
  color: #4d4740;
}

/*header*/
header{
  width: 100%;
  height: 98px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
#top{
  width: 1320px;
  height: 98px;
  margin: auto;
}
#top .logo_top{
  display: inline-block;
}
#top .logo_top img{
  display: block;
  padding-top: 7px;
}
#top> ul{
  float: right;
}
#top> ul> li{
  float: left;
}
.nav_icon> li{
  padding: 35px 10px;
}
.nav_icon> img{
  display: block;
}
.nav_icon> li:hover{
  opacity: 0.7;
}

/*nav*/
.nav> li{
  padding: 38px 60px 30px 60px; 
  text-align: center;
}
.nav> li> a{
  font-family: 'Titan One', cursive;
  font-size: 20px;
  color: #598ab2;
}
.nav> li> a:hover{
  color: #4d4740;
}
/*sub*/
.sub{
  width: 100%;
  height: 333px;
  position: absolute;
  top: 98px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid #598ab2;
  z-index: 99;
  display: none;
}
.sub_box{
  width: 100%;
}
.sub_inner{
  width: 1100px;
  margin:auto;
  padding: 15px 0;
  height: 220px;

}
.sub_inner ul{
  float: left;
  text-align: center;
}
.sub_inner li{
  padding: 15px 0; 
}
.sub ul a{
  color: #4d4740;
  display: block;
  font-size: 18px;
  font-weight: 900;
}
.sub1{
  width: 221.45px;
  margin-left: 170px;
}
.sub2{
  width: 195.25px;
  margin-left: 2px;
}
.sub3{
  width: 211.92px;
}
.sub4{
  width: 250.64px;
  margin-left: 213px;
}
.sub_inner li a:hover{
  color: #598ab2;
}

.sub_footer{
  width: 100%;
  height: 83px;
  background: url(menu_images/sub_menu_footer.png) center bottom repeat-x;
  background-size: cover;
}
.sub_f_inner{
  width: 1000px;
  height: 83px;
  margin:auto;
}
.sub_footer .left{
  float: left;
  text-align: left;
  padding: 5px 0;
}
.left p{
  color: #fae8d6;
}
.left p:nth-child(3){
  font-size: 24px;
}

.sub_f_inner img{
  display: block;
  float: left;
  padding-left: 10px;
  padding-top: 15px;
}
.sub_f_inner img:nth-child(2){
  padding-left: 90px;
}
.sub_f_inner img:nth-child(3){
  padding-top: 30px;
}

.sub_f_inner ul{
  float: left;
  text-align: left;
  padding: 8px 30px 5px 15px;
}
.sub_foot_ul li{
  color: #fae8d6;
  font-size: 18px;
  margin-left: 180px;
  padding: 5px 5px;
}
.sub_foot_ul2 li{
  color: #fae8d6;
  font-size: 18px;
  padding: 5px 5px;
}
.sub_foot_ul li:nth-child(1){
  border-bottom: 1px dashed #fff;
}
.sub_foot_ul2 li:nth-child(1){
  border-bottom: 1px dashed #fff;
}

/*main benner*/
#main_benner{
  width: 100%;
  height: 800px;
  text-align: center;
  background: url(images/Rooms_main_banner.jpg) center top no-repeat;
  background-size: cover;
}
#main_benner h1{
  display: inline-block;
  font-family: 'ImcreSoojin';
  font-size: 50px;
  font-weight: 500;
  padding: 600px 110px 40px 100px;
  border-bottom: 1px solid #4d4740;
}
#main_benner p{
  font-weight: bold;
  padding: 20px 0 20px;
}
.scroll img{
  animation: scroll 1s linear infinite ;
}


/*room content*/
#content3-1{
  height: 800px;
  margin: auto;
  position: relative;
  /* padding-top: 100px; */
}
#content3-1 .swiper-slide .text1{
  position: absolute;
  right: 50%;
  transform: translateX(465px);
  top: 23%;
}
#content3-1 .swiper-slide .text2{
  position: absolute;
  right: 50%;
  transform: translateX(485px);
  top: 44%;
}
#content3-1 .swiper-slide ul{
  position: absolute;
  left: 50%;
  transform: translateX(180px);
  top: 84%;
}
#content3-1 .swiper-slide li{
  float: left;
  padding-left: 20px;
}
#content3-1 .swiper-slide li img{
  display: block;
}
#content3-1 .swiper-slide li a{
  display: inline-block;
  border-radius: 50px;
}
#content3-1 .swiper-slide ul li a:hover{
  box-shadow: 3px 3px 5px rgba(77, 71, 64, 0.3);
}
#content3-1 .down{
  position: absolute;
  top: 87%;
  right: 50%;
  transform: translateX(600px);
  z-index: 2;
}
/*modal popup*/
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.8);
  z-index: 99;
  display: none;
}
.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1044px;
  height: 544px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: rgba(77, 71, 64, 0.8);
  border: 1px solid #a5dcff;
}
.popup .first li{
  float: left;
  width: 290px;
  height: 196px;
  margin: 33px 15px 0;
  position: relative;
}
.popup .first li img{
  display: block;
}
.popup .first .padding{
  margin-left: 38px;
}
.popup .close{
  position: absolute;
  right: 5%;
  bottom: 2%;
}
.popup .text3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: none;
}
.text3 p{
  padding-top: 90px;
  font-size: 20px;
}
.first li:hover .text3{
  display: block;
}

.popup .inside_popup li{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.inside_popup a{
  position: absolute;
  top: 0;
  right: 20%;
  z-index: 5;
  display: none;
}



/*content2-2 시설*/
#content3-2{
  margin: 100px auto 0;
  width: 100%;
  height: 1110px;
  background: url(images/fac_background.png) center top repeat-x;
}
#content3-2 .fac_title{
  width: 1100px;
  height: 1000px;
  margin: auto;
  text-align: center;
  padding: 0 0 20px;
  overflow: hidden;

}
.fac_title h1{
  display: inline-block;
  font-size: 30px;
  font-family: 'ImcreSoojin';
  padding: 100px 100px 15px;
  border-bottom: 1px solid #4d4740;
  text-shadow: 2px 3px 2px rgba(77, 71, 64, 0.3);
  background: url(images/fac_bg_icon.png) 20% 80% no-repeat;
}
.fac_title p{
  padding: 15px 0 50px;
  font-size: 15px;
  background: url(images/fac_underline.png) center 38% no-repeat;
}
.swiper-slide-thumb-active img{
  box-shadow: 7px 7px 7px rgba(77, 71, 64, 0.5);
}

/*content3-3*/
#content3-3{
  margin: auto;
  width: 100%;
  height: 750px;
  background: url(images/ser_background.png) center top repeat-x;
}
  #content3-3 .ser_title{
  width: 100%;
  height: 600px;
  margin: auto;
  padding: 40px 0 20px;
  overflow: hidden;
  text-align: center;
}
.ser_title h1{
display: inline-block;
font-size: 30px;
font-family: 'ImcreSoojin';
padding: 60px 100px 20px;
border-bottom: 1px solid #4d4740;
text-shadow: 2px 3px 2px rgba(77, 71, 64, 0.3);
background: url(images/ser_bg_icon.png) 16% 5% no-repeat;
}
.ser_title .ser_underline{
  padding: 20px 0 40px;
  font-size: 15px;
  background: url(images/ser_underline.png) center 46% no-repeat;
}
/*상자안에 텍스트 띄우기*/
.slider .slick-slide> div> div{
  position: relative;
}
.ser_title .in_text{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 100%;
	height: 100%;
  opacity: 0;
  transition: all 1s;
}
.slider .slick-current> div .in_text{
  opacity: 1;
}
.in_text h4{
  display: inline-block;
  font-size: 25px;
  border-bottom: 1.5px solid #4d4740;
  line-height: 35px;
}
.in_text h4{
  padding: 20% 15% 5%;
}
.in_text p{
  padding-top: 5%;
}
.pad h4{
  padding: 10% 15% 5%;
}

/*footer*/
.footer_on{
  width: 100%;
  height: 60px;
  background: url(footer_images/footer_on.jpg) center top repeat-x;
  text-align: center;
}
.footer_on ul{
  width: 1320px;
  height: 60px;
  margin: auto;
}
.footer_on li:nth-child(1){
  padding-left: 150px;
}
.footer_on li:nth-child(4){
  padding-right: 120px;
}
.footer_on ul li{
  float: left;
  padding: 18px 45px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.footer_on li:nth-child(1){
  background: url(footer_images/footer_on_tel.png) 125px center no-repeat;
}
.footer_on li:nth-child(2){
  background: url(footer_images/footer_on_ads.png) 20px center no-repeat;
}
.footer_on li:nth-child(3){
  background: url(footer_images/footer_on_email.png) 15px center no-repeat;
}.footer_on li:nth-child(4){
  background: url(footer_images/footer_on_bank.png) 10px center no-repeat;
}
.footer_on ul li:hover{
  text-shadow: 2px 2px 4px rgba(77, 71, 64, 0.3);
}

.footer_bot{
  width: 100%;
  height: 306px;
  background: url(footer_images/footer_bg.jpg) center top repeat-x;
  background-size: cover;
}
.footer_in{
  width: 1320px;
  height: 306px;
  margin: auto;
}
.footer_in h3{
  display: inline-block;
}
.footer_in .f_logo img{
  display: block;
  padding-top: 70px;
}
.footer_in{
  position: relative;
}
.footer_in ul li{
  float: left;
}
.footer_in .sns{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.footer_in .sns img{
  display: block;
  opacity: 0.5;
}
.sns li:nth-child(1) {
  padding-left: 0px;
}
.sns li{
  padding-left: 40px;
}

.sns li img:hover{
  opacity: 1;
}

.footer_list{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.footer_list li a{
  font-size: 16px;
}
.footer_list li a:hover{
  text-decoration: underline;
  opacity: 0.7;
}

.footer_in p:nth-child(4){
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}
.footer_in p:nth-child(5){
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

/*fixed*/
.fixed{
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 98;
}